body {
  background-color: rgb(36, 40, 46);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  padding: 2.5rem 0;
  color: white;
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 18%;
  background: rgb(59, 62, 67);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
}


.loading {
  background-color: rgb(36, 40, 46);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h3 {
  color: white;
  font-size: 7.5rem;
}

.text-container {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
}

.text-container h3 {
  font-size: 2rem;
}

.status {
  margin-bottom: 1rem;
}

.title {
  color: grey;
}

.email {
  color: white;
}

.author{
  font-size: 1.5rem;
}

.availability {
  color: turquoise
}

button {
  padding: 1rem 4rem;
  font-size: 2rem;
  margin: 2rem 0;
  margin-right: 1rem;
}

